

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

.banner{
    background-image: url(./img/lemon-pie\ 1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 343px;
    letter-spacing: 0.5px;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}

h1{
    font-family:'Fruktur', cursiva;
    font-size: 50px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section.banner~section{
    max-width: 80%;
    margin: 30px auto;
}

footer{
    text-align: center;
}